.App {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: #61dafb;
}

input, textarea, label, button {
  display: block;
}

input, textarea, button {
  width: 200px;
  padding: 10px;
}

input, textarea, button {
  margin-bottom: 1em;
}
